.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fafafa;
  color: #111;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #111;
    color: #fafafa;
  }
}
